body{
    margin: 0;padding: 0;
}
.header{
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 12;
}
.navbar{
    
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.links{
    display: flex;
    list-style: none;
    column-gap: 30px;
}
.links a{
    text-decoration: none;
}
.links a:link{
    font-size: 14px;
    color: darkgray;
}
.links a:visited{
    color: rgb(71, 70, 70);
}
.brand2{
    color: rgb(169, 119, 44);
}
.links button{
    padding: 4px 6px;
    background-color: transparent;
    border: 1px solid darkgray;
}
.banner-container{
    padding-left: 50px;
}

.banner{ 
    height: 100vh;
    margin: 0px auto;
    display: flex;
    
}
.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-text , .banner-image{
    width: 50%;
}
.banner-image{
    background-image: url(images/maison-hero-03.jpg);
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}
.banner .sub-title{
    color: #a69080;
}
.banner h1{
    font-size: 64px;
    margin: 20px 0;
}
.banner h1 span{
    color: #b8860b;
}
.banner .banner-para{
    color: darkgray;
    line-height: 1.6;
}